body {
      background: #ccc;
      color: #000;
      font-family: sans-serif;
  }


h1{
  text-align: center;
}

ul{
  padding: 0;
}

li {
      background: #eee;
      border-left: 5px solid #555;
      margin: 10px 0;
      padding: 10px;
      border-radius: 10px;
    
     }
     
    div{
      text-align: center;
      font-size: 22px ;
    }